:root {
    --height: 90vh;
}

* {
    border: 0;
    margin: 0;
}

#main {
    display: flex;
    height: 100vh;
}

.leftSide {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightSide {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.secretCardsLeft {
    height: 15%;
    rotate: 270deg;
}

.secretCardsRight {
    height: 15%;
    rotate: 90deg;
}

.cavalos {
    height: 35vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#deck {
    position: absolute;
    bottom: 0px;
    right: 50%;


}

